@page "/fetchdata"
@using IntranetServerTemplate.Core.Services
@inherits FetchDataBase
@attribute [Authorize("FetchDataPolicy")]
<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <MudDataGrid Items="@forecasts" Filterable="true">
        <Columns>
            <Column T="WeatherForecastService.WeatherForecastModel" Field="Date" Title="Nr" />
            <Column T="WeatherForecastService.WeatherForecastModel" Field="TemperatureC" />
            <Column T="WeatherForecastService.WeatherForecastModel" Field="TemperatureF" />
            <Column T="WeatherForecastService.WeatherForecastModel" Field="Summary" />
        </Columns>
    </MudDataGrid>

}